html{
	background: linear-gradient(to bottom,rgb(3, 121, 111),rgb(74, 7, 182));
	background-repeat: no-repeat;
	height: 100%;
	
}
h1{
	text-align: center;
}
nav{
	border: 3px black solid;
	
}
legend{
	border: 6px black solid;
	text-align: center;
	font-weight: bolder;
	color:goldenrod;
}
p{
	color: goldenrod;
	font-weight: bolder;
}

fieldset{
	border: 6px black solid;
	margin-top: 100px;
	margin-left: 15%;
    margin-right: 15%;

}
