/* Estilos para el header */
html {
	height: 100%;
	background: linear-gradient(90deg, #00bcd4, #9c27b0);
  }
  header {

	text-align: center;
	font-size: x-large;
	color: white;

  }
  
  .navbar {
	display: flex;
	justify-content: center;
	border: 5px goldenrod solid;
	background-color:#333;
	color: #fff;
	padding: 40px 0;
	border-radius: 8px;
	box-shadow: 5px 5px 10px white;
	margin-top: 2%;
}
  
  .navbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .navbar ul li {
	display: inline;
	margin-right: 20px;
  }
  
  .navbar ul li a {
	text-decoration: none;
	color: #fff;
  }
  
  /* Estilos para el main */
  main {
	margin-top: 50px;
	margin-bottom: 50px;}
  
  .sidebar {
	border: 5px goldenrod solid;
	background-color: #000;
	width: 200px;
	height: 970px;
	border-radius: 8px;
	box-shadow: 5px 5px 10px white;
	margin-bottom: 3%;
	margin-top: 5%;
	float: left;  
}
  
   ul {
	list-style: none;
	padding: 0;
  }
  
  
  .sidebar ul li a {
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 5px;
  }
  
  .content {
	flex-grow: 1;
	padding: 20px;
  }
  
  /* Estilos para el formulario */
  .form {
	border: 5px goldenrod solid;
	padding-right: 15%;
	padding-left: 15%;
	padding-bottom: 2%;
	display:flex;
	flex-direction: column;
	width: 350px;
	margin-top: 4%;
	margin-left: 25%;
	margin-right: 3%;
	margin-bottom: 3%;
	color: black;
	border-radius: 8px;
	box-shadow: 5px 5px 10px white
  }
  input{
	margin-bottom: 3px;
	
  }
  select{
	margin-bottom: 2px;
	padding: 3px;
  }
  textarea{
	margin-bottom: 3px;
	padding: 20px;
	margin-left: 20px;
  }
  button {
	margin-bottom: 3px;
	margin-top: 50px;
	padding-left: 50%;
	padding-right: 50%;
  }
  
  button {
	background-color: green;
	color: #fff;
	border: none;
	cursor: pointer;
  }

  
  /* Estilos para el footer */
  footer {
	border: 5px goldenrod solid;
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 40px 0;
	border-radius: 8px;
	box-shadow: 5px 5px 10px white;
	margin-top: 3%;
  }
  
  .footer p {
	margin: 0;
  }